// common-colors
$white:#ffffff;
$blue:#37bbc8;
$black:#282729;
$Sand-Dune:#866661;
$Horizon:#558ca8;
$Marron:#57222e;
$pink:#e12d54;
$dark-grey:#54686b;
$Tussock:#c7994b;
$Mulled-Wine:#4b4a70;
// bg-colors
$btn-bg-color:#ec2458;
$bg-color-blue: #25bed6;
$bg-color-maroon:#541c2a;
$bg-color-lightblue:#97d7d9;
$bg-color-darkblue:#22b0c6;
$bg-color-footer:#222222;
//font-color
$color-green:#33d295;
$color-blue:#31bed6;
$color-grey:#e0dfe2;