@import "../css/color.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
.w-60{
    width: 60%;
}
.m-auto{
    margin: auto;
}


.flex{
    display: flex;
}
.h-align{
    // display: flex;
    justify-content: center;
}
.v-align{
    align-items: center;
}

.p-top-10{
    padding-top: 10px;
}
.p-bottom-10{
    padding-bottom: 10px;
}
.p-top-20{
    padding-top: 20px;
}
.p-bottom-20{
    padding-bottom: 20px;
}

.m-bottom-10{
    margin-bottom: 10px;
}
.m-top-10{
    margin-top: 10px;
}

.p-top-bottom-100{
    padding: 100px 0px;
}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    z-index: 1000;
}

.pointer{
    cursor: pointer;
}
.font-family{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.primary-btn{
    background-color: $btn-bg-color;
    padding: 10px 30px !important;
    color: $white;
    border-radius: 5px;
    border: 1px solid transparent;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.section{
    margin-top: 100px;
    width: 100%;
}

.t-align{
    text-align: center;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.d-none{
    display: none;
}

//mobile
@media screen and (max-width:720px){

}
//tablets
@media screen and (min-width:721px) and (max-width:1100px){
    // common classes
    .w-90{
        width: 90%;
    }
    // header
    
    // sections
    .sector-img{
        height: 400px !important;
    }
    // second-column
    .second-column{
        .realtime-project{
            .realtime-head{
                font-size: 25px !important;
            }
            .tachometer{
                i{
                    font-size: 25px !important;
                }
            }
            .realtime-para{
                font-size: 16px !important;
                line-height: 1.5 !important;
            }
        }
    }
    .bg-image{
        // background: url('../images/buy-sell-bg.png') 55% 55% no-repeat;
        background-size: 100% 100% !important;
                
    }
    // Third-column
    .third-column{
        .box-align{
            text-align: center;
            .heading{
                font-size: 30px !important;
            
            }
            .text{
                font-size: 18px;
                text-align: center !important;
            }
        }
        .process{
            align-items: baseline;
            .process-start{
                .circle-border{
                    width: 70px !important;
                    height: 70px !important;
                    
                }
                .image-desc{
                    width: 70% !important;
                }
            }
        }
        
    }
    // fourth-column
    .fourth-column{
        .icons-img-box{
            top: 10% !important;
            left: 7% !important;
        }
        .marketplace-text-box{
            top: 10% !important;
            right: 10% !important;
            // width: 200px !important;
            width: 20% !important;

            .heading{
                font-size: 20px !important;
                font-weight: 500;
            }
            .text-box{
                font-size: 13px !important;
                line-height: normal !important;
            }
        }
    }

    // cash intensive banking
    .fifth-column{
        .left-side{
            .images{
                width: 250px !important;
            }
        }
        .right-side{
            .bank-heading{
                font-size: 25px !important;
            }
            .bank-para{
                font-size: 14px !important;
            }
        }
    }

    // cash-management
    .left-side{
        display: flex;
        align-items: center;

    }
    
    .management-features{
        .feature{
            line-height: 2.5 !important;
            .feature-img{
                width: 30px !important;
                height: 30px !important;
            }
            .feature-point{
                .heading{
                    font-size: 16px !important;
                }
            }
        }   
    }
    
    


    // footer
    
    .explore-box{
        width: 30% !important;
        padding: 10px !important;
        .icon{
            width: 25px !important;
            height: 25px !important;
        }
    }
                    
}
